# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env

# Node
web/node_modules/
web/.next/
web/.env.local

# Mac
.DS_Store
.vscode/

# Docker
*.log

# Local env
.env
